.navbar-default {
  background-color: #a31f34;
}

.navbar-default .navbar-brand {
  color: #fff;
  border-right: 1px solid #fff;
}

.navbar-default .navbar-brand:hover {
  color: #eee;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #eee;
}

.officer-section h2 {
  border-bottom: 1px solid gray;
  border-top: 2px solid #a31f34;
  padding: 6px 12px;
  background-color: #f5f5f5;
}
 
.officer-img {
  float: left;
  height: 150px;
  margin: 0 10px 10px 0;
  position: relative;
  width: 150px;
}
 
.officer-img img {
  height: 150px;
  width: 150px;
}
 
.officer-name {
  font-weight: 400;
}

.officer-bio {
  display: table;
}
 
.officer-card:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}